@import "variables";

html,
body {
  overflow: hidden;
  width: 100%;
}

.ac-calendar-container {
  height: $iframe-height;
  position: relative;
  width: 100%;

  .ac-calendar-months {
    height: 100%;
    width: 100%;

    .ac-calendar {
      height: 100%;
      position: absolute;
      width: 100%;

      .ac-table {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;

        tbody {
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;

          tr.ac-heading {                         // Month selector component
            border: 0;
            left: 50%;
            margin-bottom: 2rem;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;

            th.ac-heading {
              border: 0;
              width: 100%;
            }
          }

          tr.ac-weekdays {                        // Day of week labels
            background-color: #4d4d4d;
            border: 0;
            left: 50%;
            margin-top: 2rem;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;

            td { // Set size for all day of week labels
              position: absolute;
              width: calc((100% / 7) - 1);
            }

            td:nth-child(1) {                     // Sunday header
              left: $sunday-position;
              transform: translateX(-50%);
            }

            td:nth-child(2) {                     // Monday header
              left: $monday-position;
              transform: translateX(-50%);
            }

            td:nth-child(3) {                     // Tuesday header
              left: $tuesday-position;
              transform: translateX(-50%);
            }

            td:nth-child(4) {                     // Wednesday header
              left: $wednesday-position;
              transform: translateX(-50%);
            }

            td:nth-child(5) {                     // Thursday header
              left: $thursday-position;
              transform: translateX(-50%);
            }

            td:nth-child(6) {                     // Friday header
              left: $friday-position;
              transform: translateX(-50%);
            }

            td:nth-child(7) {                     // Saturday header
              left: $saturday-position;
              transform: translateX(-50%);
            }
          }

          tr {
            //outline-offset: $day-in-row-margin-top + $day-in-month-padding + .2rem;

            .ac-pad {                           // Greyed out past month day in month blocks
              //background-color: cornflowerblue;
              display: none;
            }

            .ac-pad,                            // Greyed out past month day in month blocks
            .ac-day {                           // Day in month blocks
              padding: $day-in-month-padding;                      // Size of day in month block
              position: absolute;
              margin-top: $day-in-row-margin-top;
              width: calc((100% / 7) - 1);
              transition: all .2s ease;

              .ac-day-split-day,
              .ac-day-split-bottom.ac-day-split-bottom-ac-grey-out-history,
              .ac-day-split-top.ac-day-split-top-ac-grey-out-history {
                font-size: 1.5rem;
              }

              &:hover {
                background-color: lightgrey;
              }
            }

            .status-ac-grey-out-history {       // Past dates
              background-color: #979797;
              transition: all .2s ease;

              &:hover {
                background-color: #636363;
              }
            }

            .ac-day-today {                     // Today
              //background-color: orangered;
            }

            .status-default {                   // Available
              background-color: #54764e;
              transition: all .2s ease;

              &:hover {
                background-color: #0d520a;
              }
            }

            .status-1 {
              background-color: #b16365;              // Reserved
              transition: all .2s ease;

              &:hover {
                background-color: #8c0f0d;
              }
            }

            .ac-day:nth-child(1) {                            // Sunday day in month
              left: #{$sunday-position};
              transform: translateX(-50%);
            }

            .ac-day:nth-child(2) {                            // Monday day in month
              left: #{$monday-position};
              transform: translateX(-50%);
            }

            .ac-day:nth-child(3) {                            // Tuesday day in month
              left: #{$tuesday-position};
              transform: translateX(-50%);
            }

            .ac-day:nth-child(4) {                            // Wednesday day in month
              left: $wednesday-position;
              transform: translateX(-50%);
            }

            .ac-day:nth-child(5) {                            // Thursday day in month
              left: $thursday-position;
              transform: translateX(-50%);
            }

            .ac-day:nth-child(6) {                            // Friday day in month
              left: $friday-position;
              transform: translateX(-50%);
            }

            .ac-day:nth-child(7) {                            // Saturday day in month
              left: $saturday-position;
              transform: translateX(-50%);
            }
          }

          //tr:not(:nth-child(n + 2)) {
          //  border-bottom: 2px solid black;
          //}

          tr:nth-child(3) {                           // First calendar day row
            //border-bottom: 1px solid black;
            margin-top: $day-in-row-margin-top;
            //outline: 1px solid black;
          }

          tr:nth-child(4) {                           // Second calendar day row
            //border-top: 1px solid black;
            margin-top: $day-in-row-margin-top + $day-in-month-padding;
            //outline: 1px solid black;
          }

          tr:nth-child(5) {                           // Third calendar day row
            //border-bottom: 2px solid black;
            margin-top: $day-in-row-margin-top + $day-in-month-padding;
          }

          tr:nth-child(6) {                           // Fourth calendar day row
            //border-bottom: 2px solid black;
            margin-top: $day-in-row-margin-top + $day-in-month-padding;
          }

          tr:nth-child(7) {
            //border-bottom: 2px solid black;
            margin-top: $day-in-row-margin-top + $day-in-month-padding;
          }

          tr:nth-child(8) {
            //border-bottom: 2px solid black;
            margin-top: $day-in-row-margin-top + $day-in-month-padding;
          }
        }
      }
    }
  }
}
