@import "variables";

html,
body {
  overflow: hidden;
  width: 100%;
}

.ac-calendar-container {
  height: 600px;
  position: relative;
  width: 100%;

  .ac-calendar-months {
    height: 100%;
    width: 100%;

    .ac-calendar {
      height: 100%;
      position: absolute;
      width: 100%;

      table.ac-table {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;

        tbody {
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;

          tr.ac-heading {                         // Month selector component
            left: 50%;
            margin-bottom: 2rem;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;

            th.ac-heading {
              width: 100%;
            }
          }

          tr.ac-weekdays {                        // Day of week labels
            background-color: lightseagreen;
            //height: 100%;
            left: 50%;
            margin-top: 2rem;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;

            td {
              position: absolute;
              width: calc((100% / 7) - 1);

            }

            td:nth-child(1) {                     // Sunday header
              left: $sunday-position;
              transform: translateX(-$sunday-position);
            }

            td:nth-child(2) {                     // Monday header
              left: $monday-position;
              transform: translateX(-$monday-position);
            }

            td:nth-child(3) {                     // Tuesday header
              left: $tuesday-position;
              transform: translateX(-$tuesday-position);
            }

            td:nth-child(4) {                     // Wednesday header
              left: $wednesday-position;
              transform: translateX(-$wednesday-position);
            }

            td:nth-child(5) {                     // Thursday header
              left: $thursday-position;
              transform: translateX(-$thursday-position);
            }

            td:nth-child(6) {                     // Friday header
              left: $friday-position;
              transform: translateX(-$friday-position);
            }

            td:nth-child(7) {                     // Saturday header
              left: $saturday-position;
              transform: translateX(-$saturday-position);
            }
          }

          tr {

            td.ac-day {                           // Day in month blocks
              position: absolute;
              margin-top: $day-in-row-margin-top-multiplier;
              width: calc((100% / 7) - 1);

              span.ac-day-split-day,
              span.ac-day-split-bottom.ac-day-split-bottom-ac-grey-out-history,
              span.ac-day-split-top.ac-day-split-top-ac-grey-out-history {
                font-size: 1.5rem;
              }
            }

            td.status-ac-grey-out-history {       // Past dates
              background-color: blue;
            }

            td.ac-day-today {                     // Today
              background-color: orangered;
            }

            td.status-default {                   // Available
              background-color: green;
            }

            td.status-1 {
              background-color: red;              // Reserved
            }

            td.ac-day:nth-child(1) {                            // Sunday day in month
              left: #{$sunday-position};
              transform: translateX(-#{$sunday-position});
            }

            td.ac-day:nth-child(2) {                            // Monday day in month
              left: #{$monday-position};
              transform: translateX(-#{$monday-position});
            }

            td.ac-day:nth-child(3) {                            // Tuesday day in month
              left: #{$tuesday-position};
              transform: translateX(-#{$tuesday-position});
            }

            td.ac-day:nth-child(4) {                            // Wednesday day in month
              left: $wednesday-position;
              transform: translateX(-$wednesday-position);
            }

            td.ac-day:nth-child(5) {                            // Thursday day in month
              left: $thursday-position;
              transform: translateX(-$thursday-position);
            }

            td.ac-day:nth-child(6) {                            // Friday day in month
              left: $friday-position;
              transform: translateX(-$friday-position);
            }

            td.ac-day:nth-child(7) {                            // Saturday day in month
              left: $saturday-position;
              transform: translateX(-$saturday-position);
            }
          }

          //&:not(:nth-child(-n + 2)) {               // Applies to all but first two <tr /> (month selector component and day of week header)
          //
          //}

          tr:nth-child(3) {
            margin-top: calc(#{$day-in-row-margin-top-multiplier} * 1);
          }

          tr:nth-child(4) {
            margin-top: calc(#{$day-in-row-margin-top-multiplier} * 2);
          }

          tr:nth-child(5) {
            margin-top: calc(#{$day-in-row-margin-top-multiplier} * 3);
          }

          tr:nth-child(6) {
            margin-top: calc(#{$day-in-row-margin-top-multiplier} * 4);
          }

          tr:nth-child(7) {
            margin-top: calc(#{$day-in-row-margin-top-multiplier} * 5);
          }
        }
      }
    }
  }
}
