$iframe-height: 800px;
$gutter-horizontal: 1rem;
$day-in-row-margin-top-multiplier: 3rem;

$sunday-position: 8%;
$monday-position: 22%;
$tuesday-position: 36%;
$wednesday-position: 50%;
$thursday-position: 64%;
$friday-position: 78%;
$saturday-position: 92%;
