$iframe-height: 850px;
$gutter-horizontal: 1rem;
$day-in-row-margin-top: 3rem;
$gutter-vertical: 1.5rem;
$day-in-month-padding: 2rem;

$sunday-position: 8%;
$monday-position: 22%;
$tuesday-position: 36%;
$wednesday-position: 50%;
$thursday-position: 64%;
$friday-position: 78%;
$saturday-position: 92%;
