.ac-calendar-container {
	height: 100%;
	position: relative;
}

.ac-calendar-months {
	position: absolute !important;
	width: 100% !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

.ac-calendar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
}

td.ac-day span.ac-day-split-day,
td.ac-day span.ac-day-split-bottom.ac-day-split-bottom-ac-grey-out-history,
td.ac-day span.ac-day-split-top.ac-day-split-top-ac-grey-out-history {
	font-size: 3rem;
}